{% extends "index.html" %}
{% load static %}
{% block body %}

<header>
    <h1>Follow Your Favorite Accounts</h1>
</header>

<div class="container">
    <h2>Follow These Accounts:</h2>
    <ul>
        <li>
            
            <a href="https://github.com/warsi0707">
                <span>Github</span>
            </a>
            <i class="fa-brands fa-github"></i>
            
            
        </li>
        <li>
            <a href="https://www.linkedin.com/in/samir-warsi/">Linkedin<i class="fa-brands fa-linkedin"></i></a>
        </li>
        
        <!-- Add more accounts as needed -->
    </ul>
</div>
  
{% endblock body %}